@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&amp;display=swap');

html {
font-family: Open Sans;
font-style: normal;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #4E5657;
}


.imint {
text-transform: none!important;
font-size: 0.832rem!important;
}

.uk-button-small {
    padding: 0 6px!important;}

.uk-sticky-fixed.uk-active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF !important;
}

.uk-navbar-nav>li>a {
  color: #4E5657 !important;
  font-size: 16px!important;
}

.classfooterlist li , footertext , a.footertext
{
    font-family: Open Sans !important;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

}

.fspl-paddingtb
{
  padding:  15px 0;

}
.fspl-paddinglr
{
  padding:   0 25px;

}

.noborder{
  border:none!important;
}

.listclass li
{
  font-family: Open Sans;
font-style: normal;


color: #000000;
}

.uk-button-danger {
background: #D4131F;
border: 1px solid #D4131F;
border-radius: 2px;
}
.fspltoppos
{
  background: #D4131F;

  font-family: Open Sans;
font-style: normal;
border-radius: 8px 8px 0 0 !important;


font-size: 24px;
line-height: 33px;

align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.uk-h3
{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
text-align: center;
text-transform: uppercase;
}
.uk-h2
{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;

text-align: center;
text-transform: capitalize;

color: #272827;
}
.fspl-section
{
  padding:  20px 0;
}
.sliderclass, .sliderclass .uk-card-title
{
  color: #272827;
}
.sliderclass .uk-card-title
{
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

align-items: center;
text-align: center;
text-transform: none;

color: #000000;
}
.border1
{
  border: 1px solid #D5D5D5;
box-sizing: border-box;
border-radius: 8px;
  padding: 15px 05px 2px 2px;
  color: #D4131F;
}
.uk-child-width-1-6\@m>* {
  width: 16.6%;
}

a.uk-slidenav , .uk-slidenav
{
  border-radius: 500px;
  border: 1px solid #D4131F!important;
}
.whitebg {
  background-color: #fff !important;
  border-radius: 30px!important;
}
.graybg {
  background-color: #F5F5F5 !important;
}
.gstext
{
  padding: 15px 02px 0 0;
}

.fontimagclass1
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: #D4131F;
}
.fontimagclass2
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #272827;
}
.selplan
{
  background: #FFFFFF;
  border: 1px solid #D4131F;
  border-radius: 2px;
}
.fsplpos{
  left: 70%;
}

.footertextclass
{
  border-top: 1px solid #D5D5D5;
}
.heading
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;

  color: #272827;

}
.greencol
{
  color: #229955;
}

.selprice
{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;


  color: #D4131F;
}
.fspl-security
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 16px;
  /* or 67% */

  padding-top: 15px;

  text-transform: uppercase;

  color: #000000;
}

.iconcolred {

  color: #D4131F;
}
.sliderh1
{
  font-family: Signika;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;

  color: #FFFFFF;
}
.slider2
{font-family: Signika;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;

  color: #FFFFFF;

}
.uk-tab>.uk-active>a {
  color: #272827;
  border-color: #D4131F;
  border-bottom: 2px solid #D4131F;
}
.uk-dotnav>*>* {

  width: 20px;
  height: 20px;
  border-radius: 30%;

}

.uk-container-fspl
{
  padding-left: 80px !important;
  padding-right: 80px !important;


}

.sliderh0
{
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;

  color: #FFFFFF;
}
.extwidth1
{
width: 45%;
}


/*  */
.uk-navbar-nav>li>a {
  text-transform: none !important;
}

.uk-navbar-nav>li>a {
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

text-transform: uppercase;

color: #272827;
}


/*  */




.messageclass
{
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #272827;
}



.uk-section-top-mess
{
  background: #F5F5F5;
  padding: 15px 0;
}

.logoimgclass{
  height: 60px;
  width: 269px;
}


.logoimg {
  height: 60px;
  width: 269px;
}


.headerbtbg{
background-image: url(../images/btbg.html);
background-repeat:no-repeat;background-position:0% 0%;
}

.ourpack_h2
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #272827;
}


.uk-container-largefspl {

}
.uk-container-center {
  margin-left: auto;
  margin-right: auto;
}

.packagesclass a
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  color: #272827;
}

.peobletust
{
  text-align: center!important;

}

.uk-slideshow li
{
text-align: center!important;

}

@media (max-width:667px){

  .uk-slider .uk-card-media-top
  {
    text-align: center!important;

  }

  .mobileimage li
  {
text-align: center!important;

  }

  .footersec .uk-margin-large-left
  {
    margin-left: 0px !important;
  }


.uk-child-width-1-6\@m>* {
  width: 100%;
}

.fontimagclass3 .uk-button
{


    padding: 0 15px;
    vertical-align: middle;
    font-size: 15px;
    line-height: 25px;


}


.logoimg {
  width: 223px;
  height: auto;
  text-align:center;
  left:50%;
}
.uk-tab li
{
  width: 100%;
}


.fspl-security {

  font-size: 17px;
  line-height: 16px;
  text-align: center;
}
.mobileclass
{
  padding: 0 4px !important;
}

.fontimagclass1 {

  font-size: 18px;
  line-height: 20px;

}
.fontimagclass2 {

  font-size: 16px;
  line-height: 20px;

}

.fsplpos {
  left: 60%;
}

.uk-container-fspl {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.uk-h3 {
  font-size: 20px;
  line-height: 24px;

}

.uk-h2 {
  font-size: 23px;
  line-height: 26px;

}

.sliderh1 {
  font-size: 17px;
  line-height: 19px;
}
.sliderh2 ,.slider2  {
  font-size: 16px;
  line-height: 18px;
}


.packagesclass  {
  padding-left: 15px !important;
  padding-right: 35px !important;
}

.uk-container-largefspl
{
  padding-left: 15px !important;
  padding-right: 15px !important;
}

}

@media (max-width: 640px) {
    
.imint {
text-transform: none;
font-size: 0.832rem;
}

.uk-button-small {
    padding: 0 8px!important;}
    
}